/*body*/
body{
  background-image: url(image/background.jpg);
  background-size:cover;
  margin: 0px;
  font-weight: bold;
  cursor: crosshair;
}

/*header*/
header {
    background-image: url(image/header.jpg);
    background-size: cover;
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family:monospace,monospace;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white;
    
}

/*nav*/
nav {
    background-color: rgb(36, 34, 24);
    font-family: monospace,monospace;
    text-align: center;
    margin: 0;
    padding: 0; 
    
}
nav a {
    padding: 14px 16px;
    display: inline-block;
    color: white;
    font-family:monospace,monospace;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
}


/*就是main*/
main {
  padding: 50px;
  width: 1350px;
  margin: auto; 
}

/*基本資料的框架屬性*/
.basicarticle {
    float: left;
    width: 50%;
    height:1000px;
    background-color: #354f52;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;

}

.basicsection{
    text-align: center;
    margin-top: 40px;
    
}


.basicaside {
    float: right;
    width: 50%;
    height:1000px;
    background-color: #354f52;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;

}

.basicaside img,p{
  margin-left: 30px;
}

.basicaside img{
  border-radius: 30px;
  box-shadow: -0.7em -0.7em #000;
}

.basicaside img:hover{
  transform: scale(1.1);
}


/*我的照片*/
.myphoto img{
    margin-top: 30px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    border-radius: 10%;
    box-shadow:0 0 0.5em rgba(0,0,0,0.7 ),0 0 0.5em rgba(0,0,0,0.7 ),0 0 0.5em rgba(0,0,0,0.7 );
  }
  
.myphoto img:hover {
    filter: grayscale(0%);
  }

/*我的名字*/
.name{
    font-size:45px;
    margin:0;
    margin-top: 48px;
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
    text-shadow:0 0 0.777em #000,0 0 0.777em #000;
  
}


/*下面是學習經歷*/
  /*線*/
  .line {
    position: relative;
    margin-top: 10px;
    background-color: #eee;
    height: 10px;
    width: 98%;
    border-radius: 5px;
    background-image: linear-gradient(to right, #000, #000 77%, black 23%, white);
  }

  .line img{
    margin-top: 44px;
  }

  .line img:hover{
    transform: scale(1.3);
  }


  /*標籤*/
  .label {
    position: absolute;
    top: -30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
  }
  /* 不同標籤的位置 */
  .label-1 {
    left: 3%;
  }
  .label-2 {
    left: 25%;
  }
  .label-3 {
    left: 50%;
  }
  .label-4 {
    left: 75%;
  }


/*我的興趣*/
.hobby{
    font-size: 45px;
    margin:0 auto;
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
    text-shadow:0 0 0.777em #000,0 0 0.777em #000;
    margin-bottom: 30px;
}



/*聽音樂 彈鋼琴 看動畫*/
.hobby1{
    font-size: 28px;
    margin:0 auto;
    text-align: center;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-left: 30px;
    margin-top: -15px;
    text-shadow:0 0 0.777em #000,0 0 0.777em #000;
}
/*聽音樂 彈鋼琴 看動畫
  內容的字*/
.hobby2{
    font-size: 22px;
    margin-left:344px;
    margin-right:60px;
}


/*技能那邊的框架設定*/
.majorarticle {
    
    float: left;
    width: 50%;
    height:530px;
    background-color: #52796f;
    margin-top: 40px;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;
}
.majorarticle a{
    text-align: left;
    margin-left: 30px;
}


.majoraside {
    float: right;
    width: 50%;
    height:530px;
    background-color: #52796f;
    margin-top: 40px;
    border-radius:  0 50px 50px 0;
    box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;

}

.majoraside a{
  text-align: left;
  margin-left: 30px;

}  



/*程式技能 專業技能*/
.program{
  font-size: 45px;
  color: white;
  display:flex;
  justify-content: center;
  font-style: italic;
  margin-top: 30px;
  text-shadow:0 0 0.777em #000,0 0 0.777em #000;


}

/*單純排版用*/
.op{
  margin-top: -4.9px;
}

/*進度條的%數*/
.percent{
  float: right;
  margin-right: 40px;
}

/*進度條-顯示專長與技能用*/
.skill {
  width: 16cm;
  height: 20px;
  background-color: white;
  margin: 20px;
  border: 8px solid black;
  border-radius: 18px;
  text-align: left;
}


.progress1 {
  width: 66%;
  height: 100%;
  background-color: blue;
  animation: test1 5s;
  border-radius: 18px;

}

.progress2 {
  width: 28%;
  height: 100%;
  background-color: blue;
  animation: test2 5s;
  border-radius: 18px;
}

.progress3 {
  width: 37%;
  height: 100%;
  background-color: blue;
  animation: test3 5s;
  border-radius: 18px;
}

.progress4 {
  width: 3%;
  height: 100%;
  background-color: blue  ;
  animation: test4 5s;
  border-radius: 18px;

}

.progress5 {
  width: 87%;
  height: 100%;
  background-color: blue;
  animation: test5 5s;
  border-radius: 18px;

}

.progress6 {
  width: 76%;
  height: 100%;
  background-color: blue;
  animation: test6 5s;
  border-radius: 18px;

}

.progress7 {
  width: 44%;
  height: 100%;
  background-color: blue;
  animation: test7 5s;
  border-radius: 18px;

}

.progress8 {
  width: 10%;
  height: 100%;
  background-color: blue;
  animation: test8 5s;
  border-radius: 18px;

}



@keyframes test1 {
  0% {
      width: 0%;
  }

  100% {
      width: 66%;
  }
}

@keyframes test2 {
  0% {
      width: 0%;
  }

  100% {
      width: 28%;
  }
}

@keyframes test3 {
  0% {
      width: 0%;
  }

  100% {
      width: 37%;
  }
}

@keyframes test4 {
  0% {
      width: 0%;
  }

  100% {
      width: 3%;
  }
}

@keyframes test5 {
  0% {
      width: 0%;
  }

  100% {
      width: 87%;
  }
}

@keyframes test6 {
  0% {
      width: 0%;
  }

  100% {
      width: 76%;
  }
}

@keyframes test7 {
  0% {
      width: 0%;
  }

  100% {
      width: 44%;
  }
}

@keyframes test8 {
  0% {
      width: 0%;
  }

  100% {
      width: 10%;
  }
}



/*經歷*/
.exparticle{
    float: left;
    width: 50%;
    height:1770px;
    background-color: #84a98c;
    margin-top: 40px;
    text-align: center;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;

}

.expaside {
    float: right;
    width: 50%;
    height:1770px;
    background-color: #84a98c;
    margin-top: 40px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;

}

.exparticle img,.expaside img{
  border: blue;
  border-style:dashed;
  border-width: 5px ; 
}


/*我的經歷*/
.aboutme{
  font-size: 45px;
  margin:0 auto;
  text-align: center;
  padding: 10px;
  color: white;
  text-shadow:0 0 0.777em #000,0 0 0.777em #000;
  font-style: italic;
  margin-top: 50px;
}


  .column {
			float: left;
			width: 100%;
			padding: 30px 0px 0px 0px;
      margin: 0px;
		}

		.row::after {
			content: "";
			clear: both;
			display: table;
		}

    
/*隱藏圖片的文字*/
.image-container img {
  font-size: 0;
}

/*顯示圖片和文字之間的空白*/
.image-container {
  position: relative;
  display: inline-block;
  padding: 10px;
}

/*縮小圖片*/
.image-container img {
  animation: image-animation 9s infinite;
}

/*當滑鼠放在圖片上*/
.image-container:hover img {
  opacity: 0.1; /* 圖片淡化 */
}

/*文字在圖片上，透明度從0變到1*/
.image-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* 透明度轉換，使變化更流暢 */
  font-size: 27px;
}

/*當滑鼠放在圖片上時，文字出現*/
.image-container:hover .image-text {
  opacity: 1;
}


/*footer*/
footer{
  background-color: #cad2c5;
  height: 95px;
  width: 1350px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px 50px 50px 50px ;
  box-shadow: 0 0 1em #000,0 0 1em #000,0 0 1em #000;

}


/*用來清除*/
.clearfix {
  clear: both;
}


/*左下右下那些小東西*/
.icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.icon img,.top img{
  border-radius: 100%;
  box-shadow: 0 0 0.5em #000,0 0 0.5em #000,0 0 0.5em #000,0 0 0.5em #000;
}
  
.icon img:hover,.top img:hover{
  filter: grayscale(1);
}
  

.top{
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.music {
  position: fixed;
 
  bottom: 10px;
  right: 10px;
}





